<a href="https://colab.research.google.com/github/Vaishnavilande/ML-Projects-Machine-Learning-/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv("/content/train (1).csv")
test = pd.read_csv("/content/test (1).csv")

In [4]:
train.shape

(891, 12)

In [5]:
test.shape

(418, 11)

In [7]:
#missing value
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#missing value
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [19]:
train['Age'].fillna(train['Age'].mean(), inplace=True)
test['Age'].fillna(test['Age'].mean(), inplace=True)

In [20]:
train['Cabin'] = train['Cabin'].fillna(train['Cabin'].value_counts().index[0])

In [21]:
test['Cabin'] = test['Cabin'].fillna(test['Cabin'].value_counts().index[0])

In [22]:
#missing value
test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [23]:
#missing value
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [24]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [25]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S

In [26]:
#columns with object type values
train.select_dtypes('object').columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [28]:
{column: len(train[column].unique()) for column in train.select_dtypes('object').columns}

{'Name': 891, 'Sex': 2, 'Ticket': 681, 'Cabin': 147, 'Embarked': 3}

In [29]:
{column: list(train[column].unique()) for column in train.select_dtypes('object').columns}

{'Name': ['Braund, Mr. Owen Harris',
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Heikkinen, Miss. Laina',
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'Allen, Mr. William Henry',
  'Moran, Mr. James',
  'McCarthy, Mr. Timothy J',
  'Palsson, Master. Gosta Leonard',
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'Sandstrom, Miss. Marguerite Rut',
  'Bonnell, Miss. Elizabeth',
  'Saundercock, Mr. William Henry',
  'Andersson, Mr. Anders Johan',
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'Rice, Master. Eugene',
  'Williams, Mr. Charles Eugene',
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'Masselmani, Mrs. Fatima',
  'Fynney, Mr. Joseph J',
  'Beesley, Mr. Lawrence',
  'McGowan, Miss. Anna "Annie"',
  'Sloper, Mr. William Thompson',
  'Palsson, Miss. Torborg Danira',
  'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'Emir, Mr. Farred Chehab',
  'Fortune, Mr. Charles Alexander',
  'O\'Dwyer, Miss. Ellen "Nellie"',
  'Todoroff, Mr. Lalio',
  'Uruchurtu, Don. Manuel E',
  'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'Glynn, Miss. Mary Agatha',
  'Wheadon, Mr. Edward H',
  'Meyer, Mr. Edgar Joseph',
  'Holverson, Mr. Alexander Oskar',
  'Mamee, Mr. Hanna',
  'Cann, Mr. Ernest Charles',
  'Vander Planke, Miss. Augusta Maria',
  'Nicola-Yarred, Miss. Jamila',
  'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'Kraeff, Mr. Theodor',
  'Laroche, Miss. Simonne Marie Anne Andree',
  'Devaney, Miss. Margaret Delia',
  'Rogers, Mr. William John',
  'Lennon, Mr. Denis',
  "O'Driscoll, Miss. Bridget",
  'Samaan, Mr. Youssef',
  'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'Panula, Master. Juha Niilo',
  'Nosworthy, Mr. Richard Cater',
  'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'Ostby, Mr. Engelhart Cornelius',
  'Woolner, Mr. Hugh',
  'Rugg, Miss. Emily',
  'Novel, Mr. Mansouer',
  'West, Miss. Constance Mirium',
  'Goodwin, Master. William Frederick',
  'Sirayanian, Mr. Orsen',
  'Icard, Miss. Amelie',
  'Harris, Mr. Henry Birkhardt',
  'Skoog, Master. Harald',
  'Stewart, Mr. Albert A',
  'Moubarek, Master. Gerios',
  'Nye, Mrs. (Elizabeth Ramell)',
  'Crease, Mr. Ernest James',
  'Andersson, Miss. Erna Alexandra',
  'Kink, Mr. Vincenz',
  'Jenkin, Mr. Stephen Curnow',
  'Goodwin, Miss. Lillian Amy',
  'Hood, Mr. Ambrose Jr',
  'Chronopoulos, Mr. Apostolos',
  'Bing, Mr. Lee',
  'Moen, Mr. Sigurd Hansen',
  'Staneff, Mr. Ivan',
  'Moutal, Mr. Rahamin Haim',
  'Caldwell, Master. Alden Gates',
  'Dowdell, Miss. Elizabeth',
  'Waelens, Mr. Achille',
  'Sheerlinck, Mr. Jan Baptist',
  'McDermott, Miss. Brigdet Delia',
  'Carrau, Mr. Francisco M',
  'Ilett, Miss. Bertha',
  'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'Ford, Mr. William Neal',
  'Slocovski, Mr. Selman Francis',
  'Fortune, Miss. Mabel Helen',
  'Celotti, Mr. Francesco',
  'Christmann, Mr. Emil',
  'Andreasson, Mr. Paul Edvin',
  'Chaffee, Mr. Herbert Fuller',
  'Dean, Mr. Bertram Frank',
  'Coxon, Mr. Daniel',
  'Shorney, Mr. Charles Joseph',
  'Goldschmidt, Mr. George B',
  'Greenfield, Mr. William Bertram',
  'Doling, Mrs. John T (Ada Julia Bone)',
  'Kantor, Mr. Sinai',
  'Petranec, Miss. Matilda',
  'Petroff, Mr. Pastcho ("Pentcho")',
  'White, Mr. Richard Frasar',
  'Johansson, Mr. Gustaf Joel',
  'Gustafsson, Mr. Anders Vilhelm',
  'Mionoff, Mr. Stoytcho',
  'Salkjelsvik, Miss. Anna Kristine',
  'Moss, Mr. Albert Johan',
  'Rekic, Mr. Tido',
  'Moran, Miss. Bertha',
  'Porter, Mr. Walter Chamberlain',
  'Zabour, Miss. Hileni',
  'Barton, Mr. David John',
  'Jussila, Miss. Katriina',
  'Attalah, Miss. Malake',
  'Pekoniemi, Mr. Edvard',
  'Connors, Mr. Patrick',
  'Turpin, Mr. William John Robert',
  'Baxter, Mr. Quigg Edmond',
  'Andersson, Miss. Ellis Anna Maria',
  'Hickman, Mr. Stanley George',
  'Moore, Mr. Leonard Charles',
  'Nasser, Mr. Nicholas',
  'Webber, Miss. Susan',
  'White, Mr. Percival Wayland',
  'Nicola-Yarred, Master. Elias',
  'McMahon, Mr. Martin',
  'Madsen, Mr. Fridtjof Arne',
  'Peter, Miss. Anna',
  'Ekstrom, Mr. Johan',
  'Drazenoic, Mr. Jozef',
  'Coelho, Mr. Domingos Fernandeo',
  'Robins, Mrs. Alexander A (Grace Charity Laury)',
  'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'Sobey, Mr. Samuel James Hayden',
  'Richard, Mr. Emile',
  'Newsom, Miss. Helen Monypeny',
  'Futrelle, Mr. Jacques Heath',
  'Osen, Mr. Olaf Elon',
  'Giglio, Mr. Victor',
  'Boulos, Mrs. Joseph (Sultana)',
  'Nysten, Miss. Anna Sofia',
  'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
  'Burke, Mr. Jeremiah',
  'Andrew, Mr. Edgardo Samuel',
  'Nicholls, Mr. Joseph Charles',
  'Andersson, Mr. August Edvard ("Wennerstrom")',
  'Ford, Miss. Robina Maggie "Ruby"',
  'Navratil, Mr. Michel ("Louis M Hoffman")',
  'Byles, Rev. Thomas Roussel Davids',
  'Bateman, Rev. Robert James',
  'Pears, Mrs. Thomas (Edith Wearne)',
  'Meo, Mr. Alfonzo',
  'van Billiard, Mr. Austin Blyler',
  'Olsen, Mr. Ole Martin',
  'Williams, Mr. Charles Duane',
  'Gilnagh, Miss. Katherine "Katie"',
  'Corn, Mr. Harry',
  'Smiljanic, Mr. Mile',
  'Sage, Master. Thomas Henry',
  'Cribb, Mr. John Hatfield',
  'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
  'Bengtsson, Mr. John Viktor',
  'Calic, Mr. Jovo',
  'Panula, Master. Eino Viljami',
  'Goldsmith, Master. Frank John William "Frankie"',
  'Chibnall, Mrs. (Edith Martha Bowerman)',
  'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
  'Baumann, Mr. John D',
  'Ling, Mr. Lee',
  'Van der hoef, Mr. Wyckoff',
  'Rice, Master. Arthur',
  'Johnson, Miss. Eleanor Ileen',
  'Sivola, Mr. Antti Wilhelm',
  'Smith, Mr. James Clinch',
  'Klasen, Mr. Klas Albin',
  'Lefebre, Master. Henry Forbes',
  'Isham, Miss. Ann Elizabeth',
  'Hale, Mr. Reginald',
  'Leonard, Mr. Lionel',
  'Sage, Miss. Constance Gladys',
  'Pernot, Mr. Rene',
  'Asplund, Master. Clarence Gustaf Hugo',
  'Becker, Master. Richard F',
  'Kink-Heilmann, Miss. Luise Gretchen',
  'Rood, Mr. Hugh Roscoe',
  'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
  'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
  'Bourke, Mr. John',
  'Turcin, Mr. Stjepan',
  'Pinsky, Mrs. (Rosa)',
  'Carbines, Mr. William',
  'Andersen-Jensen, Miss. Carla Christine Nielsine',
  'Navratil, Master. Michel M',
  'Brown, Mrs. James Joseph (Margaret Tobin)',
  'Lurette, Miss. Elise',
  'Mernagh, Mr. Robert',
  'Olsen, Mr. Karl Siegwart Andreas',
  'Madigan, Miss. Margaret "Maggie"',
  'Yrois, Miss. Henriette ("Mrs Harbeck")',
  'Vande Walle, Mr. Nestor Cyriel',
  'Sage, Mr. Frederick',
  'Johanson, Mr. Jakob Alfred',
  'Youseff, Mr. Gerious',
  'Cohen, Mr. Gurshon "Gus"',
  'Strom, Miss. Telma Matilda',
  'Backstrom, Mr. Karl Alfred',
  'Albimona, Mr. Nassef Cassem',
  'Carr, Miss. Helen "Ellen"',
  'Blank, Mr. Henry',
  'Ali, Mr. Ahmed',
  'Cameron, Miss. Clear Annie',
  'Perkin, Mr. John Henry',
  'Givard, Mr. Hans Kristensen',
  'Kiernan, Mr. Philip',
  'Newell, Miss. Madeleine',
  'Honkanen, Miss. Eliina',
  'Jacobsohn, Mr. Sidney Samuel',
  'Bazzani, Miss. Albina',
  'Harris, Mr. Walter',
  'Sunderland, Mr. Victor Francis',
  'Bracken, Mr. James H',
  'Green, Mr. George Henry',
  'Nenkoff, Mr. Christo',
  'Hoyt, Mr. Frederick Maxfield',
  'Berglund, Mr. Karl Ivar Sven',
  'Mellors, Mr. William John',
  'Lovell, Mr. John Hall ("Henry")',
  'Fahlstrom, Mr. Arne Jonas',
  'Lefebre, Miss. Mathilde',
  'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
  'Larsson, Mr. Bengt Edvin',
  'Sjostedt, Mr. Ernst Adolf',
  'Asplund, Miss. Lillian Gertrud',
  'Leyson, Mr. Robert William Norman',
  'Harknett, Miss. Alice Phoebe',
  'Hold, Mr. Stephen',
  'Collyer, Miss. Marjorie "Lottie"',
  'Pengelly, Mr. Frederick William',
  'Hunt, Mr. George Henry',
  'Zabour, Miss. Thamine',
  'Murphy, Miss. Katherine "Kate"',
  'Coleridge, Mr. Reginald Charles',
  'Maenpaa, Mr. Matti Alexanteri',
  'Attalah, Mr. Sleiman',
  'Minahan, Dr. William Edward',
  'Lindahl, Miss. Agda Thorilda Viktoria',
  'Hamalainen, Mrs. William (Anna)',
  'Beckwith, Mr. Richard Leonard',
  'Carter, Rev. Ernest Courtenay',
  'Reed, Mr. James George',
  'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
  'Stead, Mr. William Thomas',
  'Lobb, Mr. William Arthur',
  'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
  'Touma, Mrs. Darwis (Hanne Youssef Razi)',
  'Thorne, Mrs. Gertrude Maybelle',
  'Cherry, Miss. Gladys',
  'Ward, Miss. Anna',
  'Parrish, Mrs. (Lutie Davis)',
  'Smith, Mr. Thomas',
  'Asplund, Master. Edvin Rojj Felix',
  'Taussig, Mr. Emil',
  'Harrison, Mr. William',
  'Henry, Miss. Delia',
  'Reeves, Mr. David',
  'Panula, Mr. Ernesti Arvid',
  'Persson, Mr. Ernst Ulrik',
  'Graham, Mrs. William Thompson (Edith Junkins)',
  'Bissette, Miss. Amelia',
  'Cairns, Mr. Alexander',
  'Tornquist, Mr. William Henry',
  'Mellinger, Mrs. (Elizabeth Anne Maidment)',
  'Natsch, Mr. Charles H',
  'Healy, Miss. Hanora "Nora"',
  'Andrews, Miss. Kornelia Theodosia',
  'Lindblom, Miss. Augusta Charlotta',
  'Parkes, Mr. Francis "Frank"',
  'Rice, Master. Eric',
  'Abbott, Mrs. Stanton (Rosa Hunt)',
  'Duane, Mr. Frank',
  'Olsson, Mr. Nils Johan Goransson',
  'de Pelsmaeker, Mr. Alfons',
  'Dorking, Mr. Edward Arthur',
  'Smith, Mr. Richard William',
  'Stankovic, Mr. Ivan',
  'de Mulder, Mr. Theodore',
  'Naidenoff, Mr. Penko',
  'Hosono, Mr. Masabumi',
  'Connolly, Miss. Kate',
  'Barber, Miss. Ellen "Nellie"',
  'Bishop, Mrs. Dickinson H (Helen Walton)',
  'Levy, Mr. Rene Jacques',
  'Haas, Miss. Aloisia',
  'Mineff, Mr. Ivan',
  'Lewy, Mr. Ervin G',
  'Hanna, Mr. Mansour',
  'Allison, Miss. Helen Loraine',
  'Saalfeld, Mr. Adolphe',
  'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
  'Kelly, Miss. Anna Katherine "Annie Kate"',
  'McCoy, Mr. Bernard',
  'Johnson, Mr. William Cahoone Jr',
  'Keane, Miss. Nora A',
  'Williams, Mr. Howard Hugh "Harry"',
  'Allison, Master. Hudson Trevor',
  'Fleming, Miss. Margaret',
  'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
  'Abelson, Mr. Samuel',
  'Francatelli, Miss. Laura Mabel',
  'Hays, Miss. Margaret Bechstein',
  'Ryerson, Miss. Emily Borie',
  'Lahtinen, Mrs. William (Anna Sylfven)',
  'Hendekovic, Mr. Ignjac',
  'Hart, Mr. Benjamin',
  'Nilsson, Miss. Helmina Josefina',
  'Kantor, Mrs. Sinai (Miriam Sternin)',
  'Moraweck, Dr. Ernest',
  'Wick, Miss. Mary Natalie',
  'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
  'Dennis, Mr. Samuel',
  'Danoff, Mr. Yoto',
  'Slayter, Miss. Hilda Mary',
  'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
  'Sage, Mr. George John Jr',
  'Young, Miss. Marie Grice',
  'Nysveen, Mr. Johan Hansen',
  'Ball, Mrs. (Ada E Hall)',
  'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
  'Hippach, Miss. Jean Gertrude',
  'McCoy, Miss. Agnes',
  'Partner, Mr. Austen',
  'Graham, Mr. George Edward',
  'Vander Planke, Mr. Leo Edmondus',
  'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
  'Denkoff, Mr. Mitto',
  'Pears, Mr. Thomas Clinton',
  'Burns, Miss. Elizabeth Margaret',
  'Dahl, Mr. Karl Edwart',
  'Blackwell, Mr. Stephen Weart',
  'Navratil, Master. Edmond Roger',
  'Fortune, Miss. Alice Elizabeth',
  'Collander, Mr. Erik Gustaf',
  'Sedgwick, Mr. Charles Frederick Waddington',
  'Fox, Mr. Stanley Hubert',
  'Brown, Miss. Amelia "Mildred"',
  'Smith, Miss. Marion Elsie',
  'Davison, Mrs. Thomas Henry (Mary E Finck)',
  'Coutts, Master. William Loch "William"',
  'Dimic, Mr. Jovan',
  'Odahl, Mr. Nils Martin',
  'Williams-Lambert, Mr. Fletcher Fellows',
  'Elias, Mr. Tannous',
  'Arnold-Franchi, Mr. Josef',
  'Yousif, Mr. Wazli',
  'Vanden Steen, Mr. Leo Peter',
  'Bowerman, Miss. Elsie Edith',
  'Funk, Miss. Annie Clemmer',
  'McGovern, Miss. Mary',
  'Mockler, Miss. Helen Mary "Ellie"',
  'Skoog, Mr. Wilhelm',
  'del Carlo, Mr. Sebastiano',
  'Barbara, Mrs. (Catherine David)',
  'Asim, Mr. Adola',
  "O'Brien, Mr. Thomas",
  'Adahl, Mr. Mauritz Nils Martin',
  'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
  'Moussa, Mrs. (Mantoura Boulos)',
  'Jermyn, Miss. Annie',
  'Aubart, Mme. Leontine Pauline',
  'Harder, Mr. George Achilles',
  'Wiklund, Mr. Jakob Alfred',
  'Beavan, Mr. William Thomas',
  'Ringhini, Mr. Sante',
  'Palsson, Miss. Stina Viola',
  'Meyer, Mrs. Edgar Joseph (Leila Saks)',
  'Landergren, Miss. Aurora Adelia',
  'Widener, Mr. Harry Elkins',
  'Betros, Mr. Tannous',
  'Gustafsson, Mr. Karl Gideon',
  'Bidois, Miss. Rosalie',
  'Nakid, Miss. Maria ("Mary")',
  'Tikkanen, Mr. Juho',
  'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
  'Plotcharsky, Mr. Vasil',
  'Davies, Mr. Charles Henry',
  'Goodwin, Master. Sidney Leonard',
  'Buss, Miss. Kate',
  'Sadlier, Mr. Matthew',
  'Lehmann, Miss. Bertha',
  'Carter, Mr. William Ernest',
  'Jansson, Mr. Carl Olof',
  'Gustafsson, Mr. Johan Birger',
  'Newell, Miss. Marjorie',
  'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
  'Johansson, Mr. Erik',
  'Olsson, Miss. Elina',
  'McKane, Mr. Peter David',
  'Pain, Dr. Alfred',
  'Trout, Mrs. William H (Jessie L)',
  'Niskanen, Mr. Juha',
  'Adams, Mr. John',
  'Jussila, Miss. Mari Aina',
  'Hakkarainen, Mr. Pekka Pietari',
  'Oreskovic, Miss. Marija',
  'Gale, Mr. Shadrach',
  'Widegren, Mr. Carl/Charles Peter',
  'Richards, Master. William Rowe',
  'Birkeland, Mr. Hans Martin Monsen',
  'Lefebre, Miss. Ida',
  'Sdycoff, Mr. Todor',
  'Hart, Mr. Henry',
  'Minahan, Miss. Daisy E',
  'Cunningham, Mr. Alfred Fleming',
  'Sundman, Mr. Johan Julian',
  'Meek, Mrs. Thomas (Annie Louise Rowley)',
  'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
  'Silven, Miss. Lyyli Karoliina',
  'Matthews, Mr. William John',
  'Van Impe, Miss. Catharina',
  'Gheorgheff, Mr. Stanio',
  'Charters, Mr. David',
  'Zimmerman, Mr. Leo',
  'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
  'Rosblom, Mr. Viktor Richard',
  'Wiseman, Mr. Phillippe',
  'Clarke, Mrs. Charles V (Ada Maria Winfield)',
  'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
  'Flynn, Mr. James',
  'Pickard, Mr. Berk (Berk Trembisky)',
  'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
  'Thorneycroft, Mrs. Percival (Florence Kate White)',
  'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
  'Kallio, Mr. Nikolai Erland',
  'Silvey, Mr. William Baird',
  'Carter, Miss. Lucile Polk',
  'Ford, Miss. Doolina Margaret "Daisy"',
  'Richards, Mrs. Sidney (Emily Hocking)',
  'Fortune, Mr. Mark',
  'Kvillner, Mr. Johan Henrik Johannesson',
  'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
  'Hampe, Mr. Leon',
  'Petterson, Mr. Johan Emil',
  'Reynaldo, Ms. Encarnacion',
  'Johannesen-Bratthammer, Mr. Bernt',
  'Dodge, Master. Washington',
  'Mellinger, Miss. Madeleine Violet',
  'Seward, Mr. Frederic Kimber',
  'Baclini, Miss. Marie Catherine',
  'Peuchen, Major. Arthur Godfrey',
  'West, Mr. Edwy Arthur',
  'Hagland, Mr. Ingvald Olai Olsen',
  'Foreman, Mr. Benjamin Laventall',
  'Goldenberg, Mr. Samuel L',
  'Peduzzi, Mr. Joseph',
  'Jalsevac, Mr. Ivan',
  'Millet, Mr. Francis Davis',
  'Kenyon, Mrs. Frederick R (Marion)',
  'Toomey, Miss. Ellen',
  "O'Connor, Mr. Maurice",
  'Anderson, Mr. Harry',
  'Morley, Mr. William',
  'Gee, Mr. Arthur H',
  'Milling, Mr. Jacob Christian',
  'Maisner, Mr. Simon',
  'Goncalves, Mr. Manuel Estanslas',
  'Campbell, Mr. William',
  'Smart, Mr. John Montgomery',
  'Scanlan, Mr. James',
  'Baclini, Miss. Helene Barbara',
  'Keefe, Mr. Arthur',
  'Cacic, Mr. Luka',
  'West, Mrs. Edwy Arthur (Ada Mary Worth)',
  'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
  'Strandberg, Miss. Ida Sofia',
  'Clifford, Mr. George Quincy',
  'Renouf, Mr. Peter Henry',
  'Braund, Mr. Lewis Richard',
  'Karlsson, Mr. Nils August',
  'Hirvonen, Miss. Hildur E',
  'Goodwin, Master. Harold Victor',
  'Frost, Mr. Anthony Wood "Archie"',
  'Rouse, Mr. Richard Henry',
  'Turkula, Mrs. (Hedwig)',
  'Bishop, Mr. Dickinson H',
  'Lefebre, Miss. Jeannie',
  'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
  'Kent, Mr. Edward Austin',
  'Somerton, Mr. Francis William',
  'Coutts, Master. Eden Leslie "Neville"',
  'Hagland, Mr. Konrad Mathias Reiersen',
  'Windelov, Mr. Einar',
  'Molson, Mr. Harry Markland',
  'Artagaveytia, Mr. Ramon',
  'Stanley, Mr. Edward Roland',
  'Yousseff, Mr. Gerious',
  'Eustis, Miss. Elizabeth Mussey',
  'Shellard, Mr. Frederick William',
  'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
  'Svensson, Mr. Olof',
  'Calic, Mr. Petar',
  'Canavan, Miss. Mary',
  "O'Sullivan, Miss. Bridget Mary",
  'Laitinen, Miss. Kristina Sofia',
  'Maioni, Miss. Roberta',
  'Penasco y Castellana, Mr. Victor de Satode',
  'Quick, Mrs. Frederick Charles (Jane Richards)',
  'Bradley, Mr. George ("George Arthur Brayton")',
  'Olsen, Mr. Henry Margido',
  'Lang, Mr. Fang',
  'Daly, Mr. Eugene Patrick',
  'Webber, Mr. James',
  'McGough, Mr. James Robert',
  'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
  'Coleff, Mr. Satio',
  'Walker, Mr. William Anderson',
  'Lemore, Mrs. (Amelia Milley)',
  'Ryan, Mr. Patrick',
  'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
  'Pavlovic, Mr. Stefo',
  'Perreault, Miss. Anne',
  'Vovk, Mr. Janko',
  'Lahoud, Mr. Sarkis',
  'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
  'Kassem, Mr. Fared',
  'Farrell, Mr. James',
  'Ridsdale, Miss. Lucy',
  'Farthing, Mr. John',
  'Salonen, Mr. Johan Werner',
  'Hocking, Mr. Richard George',
  'Quick, Miss. Phyllis May',
  'Toufik, Mr. Nakli',
  'Elias, Mr. Joseph Jr',
  'Peter, Mrs. Catherine (Catherine Rizk)',
  'Cacic, Miss. Marija',
  'Hart, Miss. Eva Miriam',
  'Butt, Major. Archibald Willingham',
  'LeRoy, Miss. Bertha',
  'Risien, Mr. Samuel Beard',
  'Frolicher, Miss. Hedwig Margaritha',
  'Crosby, Miss. Harriet R',
  'Andersson, Miss. Ingeborg Constanzia',
  'Andersson, Miss. Sigrid Elisabeth',
  'Beane, Mr. Edward',
  'Douglas, Mr. Walter Donald',
  'Nicholson, Mr. Arthur Ernest',
  'Beane, Mrs. Edward (Ethel Clarke)',
  'Padro y Manent, Mr. Julian',
  'Goldsmith, Mr. Frank John',
  'Davies, Master. John Morgan Jr',
  'Thayer, Mr. John Borland Jr',
  'Sharp, Mr. Percival James R',
  "O'Brien, Mr. Timothy",
  'Leeni, Mr. Fahim ("Philip Zenni")',
  'Ohman, Miss. Velin',
  'Wright, Mr. George',
  'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
  'Robbins, Mr. Victor',
  'Taussig, Mrs. Emil (Tillie Mandelbaum)',
  'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
  'Morrow, Mr. Thomas Rowan',
  'Sivic, Mr. Husein',
  'Norman, Mr. Robert Douglas',
  'Simmons, Mr. John',
  'Meanwell, Miss. (Marion Ogden)',
  'Davies, Mr. Alfred J',
  'Stoytcheff, Mr. Ilia',
  'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
  'Doharr, Mr. Tannous',
  'Jonsson, Mr. Carl',
  'Harris, Mr. George',
  'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
  'Flynn, Mr. John Irwin ("Irving")',
  'Kelly, Miss. Mary',
  'Rush, Mr. Alfred George John',
  'Patchett, Mr. George',
  'Garside, Miss. Ethel',
  'Silvey, Mrs. William Baird (Alice Munger)',
  'Caram, Mrs. Joseph (Maria Elias)',
  'Jussila, Mr. Eiriik',
  'Christy, Miss. Julie Rachel',
  'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
  'Downton, Mr. William James',
  'Ross, Mr. John Hugo',
  'Paulner, Mr. Uscher',
  'Taussig, Miss. Ruth',
  'Jarvis, Mr. John Denzil',
  'Frolicher-Stehli, Mr. Maxmillian',
  'Gilinski, Mr. Eliezer',
  'Murdlin, Mr. Joseph',
  'Rintamaki, Mr. Matti',
  'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
  'Elsbury, Mr. William James',
  'Bourke, Miss. Mary',
  'Chapman, Mr. John Henry',
  'Van Impe, Mr. Jean Baptiste',
  'Leitch, Miss. Jessie Wills',
  'Johnson, Mr. Alfred',
  'Boulos, Mr. Hanna',
  'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
  'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
  'Slabenoff, Mr. Petco',
  'Harrington, Mr. Charles H',
  'Torber, Mr. Ernst William',

In [30]:
#create function for gender encoding 

def encode_sex(x):
    if x.lower()[0] == 'f':   #if first letter of gender ie 0 is equal to f 
        return 0
    elif x.lower()[0] == 'm':
        return 1
    else:
        return 2

In [33]:
#apply the above function
train['Sex'] = train['Sex'].apply(encode_sex)

In [34]:
nominal_features = [
    'Name',
    'Ticket', 
    'Cabin', 
    'Embarked'
   
]

In [42]:
def onehot_encode(data, columns, prefixes):
    data = data.copy()
    for column, prefix in zip(columns, prefixes):
        dummies = pd.get_dummies(train[column], prefix)
        data = pd.concat([data, dummies], axis=1)
        data = data.drop(column, axis=1)
    return data

In [43]:
nominal_prefixes = [
     'Na',
    'Ti', 
    'Ca', 
    'Em'
    
]

In [44]:
train = onehot_encode(
    train,
    columns=nominal_features,
    prefixes=nominal_prefixes
)

In [45]:
train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,"Na_Abbing, Mr. Anthony","Na_Abbott, Mr. Rossmore Edward",...,Ca_F G73,Ca_F2,Ca_F33,Ca_F38,Ca_F4,Ca_G6,Ca_T,Em_C,Em_Q,Em_S
0,1,0,3,1,22.000000,1,0,7.2500,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,0,38.000000,1,0,71.2833,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,0,26.000000,0,0,7.9250,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,0,35.000000,1,0,53.1000,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,1,35.000000,0,0,8.0500,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,27.000000,0,0,13.0000,0,0,...,0,0,0,0,0,0,0,0,0,1
887,888,1,1,0,19.000000,0,0,30.0000,0,0,...,0,0,0,0,0,0,0,0,0,1
888,889,0,3,0,29.699118,1,2,23.4500,0,0,...,0,0,0,0,0,0,0,0,0,1
889,890,1,1,1,26.000000,0,0,30.0000,0,0,...,0,0,0,0,0,0,0,1,0,0
890,891,0,3,1,32.000000,0,0,7.7500,0,0,...,0,0,0,0,0,0,0,0,1,0

In [50]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,B57 B59 B63 B66,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,B57 B59 B63 B66,S
416,1308,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,B57 B59 B63 B66,S
417,1309,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,B57 B59 B63 B66,C

In [46]:
#columns with object type values
test.select_dtypes('object').columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [47]:
{column: len(train[column].unique()) for column in train.select_dtypes('object').columns}

{}

In [49]:
{column: list(train[column].unique()) for column in train.select_dtypes('object').columns}

{}

In [51]:
#create function for gender encoding 

def encode_sex(x):
    if x.lower()[0] == 'f':   #if first letter of gender ie 0 is equal to f 
        return 0
    elif x.lower()[0] == 'm':
        return 1
    else:
        return 2

In [52]:
#apply the above function
test['Sex'] = test['Sex'].apply(encode_sex)

In [53]:
nominal_features = [
    'Name',
    'Ticket', 
    'Cabin', 
    'Embarked'
   
]

In [55]:
def onehot_encode(data, columns, prefixes):
    data = data.copy()
    for column, prefix in zip(columns, prefixes):
        dummies = pd.get_dummies(test[column], prefix)
        data = pd.concat([data, dummies], axis=1)
        data = data.drop(column, axis=1)
    return data

In [56]:
nominal_prefixes = [
     'Na',
    'Ti', 
    'Ca', 
    'Em'
    
]

In [57]:
test = onehot_encode(
    test,
    columns=nominal_features,
    prefixes=nominal_prefixes
)

In [58]:
test

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,"Na_Abbott, Master. Eugene Joseph","Na_Abelseth, Miss. Karen Marie","Na_Abelseth, Mr. Olaus Jorgensen",...,Ca_F E46,Ca_F E57,Ca_F G63,Ca_F2,Ca_F33,Ca_F4,Ca_G6,Em_C,Em_Q,Em_S
0,892,3,1,34.50000,0,0,7.8292,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,893,3,0,47.00000,1,0,7.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,894,2,1,62.00000,0,0,9.6875,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,895,3,1,27.00000,0,0,8.6625,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,896,3,0,22.00000,1,1,12.2875,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,1,30.27259,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
414,1306,1,0,39.00000,0,0,108.9000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
415,1307,3,1,38.50000,0,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
416,1308,3,1,30.27259,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
417,1309,3,1,30.27259,1,1,22.3583,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [59]:
X_train = train.drop('Sex', axis = 1)
Y_train= train['Sex']

In [61]:
X_test = train.drop('Sex', axis = 1)
Y_test= train['Sex']

In [65]:
import statistics
class KNN_Classifier():

  # initiating the parameters
  def __init__(self, distance_metric):

    self.distance_metric = distance_metric

  # getting the distance metric
  def get_distance_metric(self,training_data_point, test_data_point):

    if (self.distance_metric == 'euclidean'):

      dist = 0
      for i in range(len(training_data_point) - 1):
        dist = dist + (training_data_point[i] - test_data_point[i])**2

      euclidean_dist = np.sqrt(dist)
    
      return euclidean_dist

    elif (self.distance_metric == 'manhattan'):

      dist = 0

      for i in range(len(training_data_point) - 1):
        dist = dist + abs(training_data_point[i] - test_data_point[i])

      manhattan_dist = dist

      return manhattan_dist

  # getting the nearest neighbors
  def nearest_neighbors(self,X_train, test_data, k):

    distance_list = []

    for training_data in X_train:

      distance = self.get_distance_metric(training_data, test_data)
      distance_list.append((training_data, distance))

    distance_list.sort(key=lambda x: x[1])

    neighbors_list = []

    for j in range(k):
      neighbors_list.append(distance_list[j][0])

    return neighbors_list


  # predict the class of the new data point:
  def predict(self,X_train, test_data, k):
    neighbors = self.nearest_neighbors(X_train, test_data, k)
    
    for data in neighbors:
      label = []
      label.append(data[-1])

    predicted_class = statistics.mode(label)

    return predicted_class

In [63]:
classifier = KNN_Classifier(distance_metric='manhattan')